# Rewrite clean URLs onto real files
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
Rewriterule ^([0-9]+)/(search|term|letter)/(.+)?$ index.php?v=$1&task=$2&arg=$3 [QSA,L]
Rewriterule ^([0-9]+)/?$ index.php?v=$1 [QSA,L]
</IfModule>